<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kalkulatoralmirats"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlmirathKalkulator"
        tools:targetApi="31">
        <activity
            android:name=".tutorial.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial.DaftarTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".TentangaplikasiActivity"
            android:exported="false" />
        <activity
            android:name=".UmpanbalikActivity"
            android:exported="false" />
        <activity
            android:name=".materi.MateriActivity"
            android:exported="false" />
        <activity
            android:name=".materi.DaftarMateriActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".harta.TableHartaActivity"
            android:exported="false" />
        <activity
            android:name=".hasil_pembagian.HasilKalkulatorActivity"
            android:exported="false" />
        <activity
            android:name=".data_waris.WarisUtamaActivity"
            android:exported="false" />
        <activity
            android:name=".harta.HartaActivity"
            android:exported="false" />
        <activity
            android:name=".JenisKelaminPewarisActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>